{{ partial "header.html" . }}
<body>
{{ partial "navbar.html" . }}
<div id="main-post">
    <h1>{{ .Title }}</h1>
    <h5>{{ .Description }}</h5>
    
    {{ .Content }}

        <!-- Sidebar -->
        <div class="col-md-3">
            <div class="well well-sm"> <!-- Post-specific stats -->
                <h4>{{ .Date.Format "January 2, 2006" }}<br>
                <small>{{ .WordCount }} words</small></h4>
                <hr>
                <strong>Categories</strong>
                <ul class="list-unstyled">
                {{ range .Params.categories }}
                    <li><a href="/categories/{{ . | urlize }}">{{ . }}</a></li>
                {{ end }}
                </ul>
                <hr>
                <strong>Tags</strong><br>
                {{ range .Params.tags }}<a class="label label-default" href="/tags/{{ . | urlize }}">{{ . }}</a> {{ end }}
            </div>
            {{ partial "menu.html" . }}
        </div>
    </div>
{{ partial "footer.copyright.html" . }}
</div>
{{ partial "footer.html" . }}
